@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #171717;
  }

  .dark {
    --background: #030712;
    --foreground: #ededed;
  }

  body {
    color: var(--foreground);
    background: var(--background);
  }
}

