@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    color: #171717;
    background: #ffffff;
  }
}

@keyframes float-fade {
  0% {
    opacity: 0;
    transform: translate(-50%, 0);
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate(-50%, -30px);
  }
}

.animate-float-fade {
  animation: float-fade 1s ease-out forwards;
}

